.pro-sidebar > .pro-sidebar-inner {
    background: #b9314f;
}
.authenticate{

  background: #F18805;
  color: #F2CFD7;
  text-transform: uppercase;
  border: none;
    border-radius: 10px;
  margin-top: 20px;
  padding: 10px;
  font-size: 14px !important;
  font-weight: 100;
  letter-spacing: 5px;
}